{% load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html>
	<head>
		<title>Chatbot</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" href="{% static 'chat/style.css' %}">
	</head>
	<style>
		#buffering {
			visibility: hidden;
		}
	</style>
	
	
	
	<body>
		<div class="container-fluid h-100">
			<div class="row justify-content-center h-100 ">		
				<div class="col-md-12 col-xl-12 chat m-3 ">
					

					<a href="{% url 'admin' %}"><button type="button" class="btn btn-outline-info">Home</button></a>
					<div class="card mt-3">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									<span>AI Hiring Assistant</span>
									<p>Ask me anything!</p>
								</div>
							</div>
						</div>
						<div id="messageFormeight" class="card-body msg_card_body">
							
							
							
						</div>
						<div id="buffering" class="d-flex justify-content-start mb-4 align-items-center">
							<div class="spinner-border text-secondary" role="status">
								<span class="sr-only">Loading...</span>
							</div>
							<span class="msg_cotainer">Searching for an answer...</span>
						</div>
						<div class="card-footer">
							<form id="messageArea" class="input-group">
								{% csrf_token %}
                                <input type="text" id="text" name="msg" placeholder="Type your message..." autocomplete="off" class="form-control type_msg" required/>
								<div class="input-group-append">
									<button type="submit" id="send" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
        </div>
		<script>
			$(document).ready(function() {
				const csrftoken = $("[name=csrfmiddlewaretoken]").val();
				$("#messageArea").on("submit", function(event) {
					
					const date = new Date();
					const hour = date.getHours();
					const minute = date.getMinutes();
					const str_time = hour+":"+minute;
					var rawText = $("#text").val();

					var userHtml = '<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">' + rawText + '<span class="msg_time_send">'+ str_time + '</span></div><div class="img_cont_msg"><img src="https://i.ibb.co/d5b84Xw/Untitled-design.png" class="rounded-circle user_img_msg"></div></div>';
					
					$("#text").val("");
					$("#messageFormeight").append(userHtml);
					document.getElementById("buffering").style.visibility = "visible";

					$.ajax({
						data: {
							msg: rawText,
							csrfmiddlewaretoken: csrftoken,
						},
						type: "POST",
						url: "{% url 'chat' %}",
					}).done(function(data) {
						document.getElementById("buffering").style.visibility = "hidden";
						if (typeof data.response === 'string') {
							// Append string response
							var botHtml = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer" > ' + data.response + '<span class="msg_time">' + str_time + '</span></div></div>';
							$("#messageFormeight").append($.parseHTML(botHtml));
						} else if (typeof data.response === 'string' && data.response.startsWith('<table')) {
							// Append Pandas dataframe (HTML table)
							$("#messageFormeight").append(data.response);
						} else if (typeof data.response === 'string' && data.response.startsWith('<img')) {
							// Append Matplotlib image (HTML img tag)
							$("#messageFormeight").append(data.response);
						}else if (typeof data.response === 'string' && data.response.startsWith('<a href="data:application/zip;base64,')) {
        					// Append Download All Resumes as Zip link
        					$("#messageFormeight").append(data.response);
    					}
						 else {
							// Handle other response types here
							console.log("Unsupported response type:", data.response);
						}
					});
					

					event.preventDefault();
				});
			});
		</script>
        
    </body>
</html>